body{
    background-color:darkslateblue;
    font-family: tahoma, sans-serif;
    font-size: 1vw;
}
h1, p{
    color: aliceblue;
    text-align: center;
}
#label{
    display:inline-block;
    color:aliceblue;
    margin-bottom: 10px;
    margin-top: 10px;
}
.personal_detail input, #bio{
    background-color:darkslategray;
    color:aliceblue;
    border: none;
    width: 500px;
    padding: 5px 0 5px 0;
    outline: none;
}
#form{
    margin: auto;
    width: 500px;
}
#below{
    height: 2px;
    margin-top: 50px;
    max-width: 500px;
    background-color: rgb(114, 134, 134);
    border: none;
}
fieldset{
    border: none;
}
input[type='file']{
    display: inline-block;
    background-color: darkslategray;
    width:500px;
    padding: 5px 0 5px 0;    
}
#age{
    background-color:darkslategray;
    color:aliceblue;
    border: none;
    width: 500px;
    padding: 5px 0 5px 0;
    outline: none;
}
.referrer,.select{
    margin: auto;
    width: 500px;
    padding: 5px 0 5px 0;
}
#submit{
    width:150px;
    font-size:larger;
    font-weight: bold;
    background-color: #3b3b4f;
    border-color: white;
    color: aliceblue;
    border-radius: 30px;
}
#submitdiv{
    margin: auto;
    width: fit-content;
}